<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Twitter User Sort</title>

    <link rel="stylesheet" href="/static/css/metro.min.css">
    <link rel="stylesheet" href="/static/css/metro-icons.min.css">
  </head>
  <body>
    <div class="container">
      <h1>트잉여 정렬</h1>
      <p>
        트윗, 팔로잉, 팔로워, 관심글 수를 이용해서 누가 가장 트잉여인지 정렬하는 웹서비스입니다.
      </p>
      <h2>screen_names</h2>
      <p>
        트잉여 목록을 엔터로 나눠서 입력하세요.<br/>
      </p>

      <form action="." method="post">
        <div class="input-control textarea full-size">
          <textarea name="names" cols="20" rows="8">{{- usernames -}}</textarea>
        </div>
        <br/>
        <div class="input-control">
          <input type="submit" value="Sort"/>
        </div>
      </form>

      {% if result %}
      <h2>sort result</h2>
      <table class="table hovered striped">
        <thead>
          <tr>
            <th class="text-left">username</th>
            <th class="text-left">status</th>
            <th class="text-left">follwing</th>
            <th class="text-left">follower</th>
            <th class="text-left">favorite</th>
            <th class="text-left">score</th>
          </tr>
        </thead>
        <tbody>
          {% for data in result %}
          <tr>
            <td>
              <a href="https://twitter.com/{{ data['screen_name'] }}">
                @{{ data['screen_name'] }}
              </a>
            </td>
            <td>{{ data['status'] }}</td>
            <td>{{ data['following'] }}</td>
            <td>{{ data['follower'] }}</td>
            <td>{{ data['favorite'] }}</td>
            <td><strong>{{ data['score'] }}</strong></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <hr/>
      <footer>
        <p>
          <a href="https://twitter.com/if1live">@if1live</a> |
          <a href="https://github.com/if1live/twitter_user_sort">Repository</a>
        </p>
      </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/metro.min.js"></script>
  </body>
</html>
